@use "./base.scss";
// 커스텀 CSS 추가
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  margin-top: 0;
}

.spacer {
  flex: 1;
}

.header-right {
  display: flex;
  gap: 1rem;
}

.component-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem; // 필요한 경우 간격 추가
}

// put your custom CSS here!

